[data-theme="dark"] {
  background-color: #2d4059 !important;
  color: #fbfbfb !important;
}

[data-theme="dark"] .bg-light {
  background-color: #2d4059 !important;
}

/* [data-theme="dark"] .bg-lighter {
  background-color: #344966 !important;
} */

/*--------------------------------nav------------------------------*/

[data-theme="dark"] .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}

[data-theme="dark"] .nav-link:hover {
  color: rgb(250, 250, 250) !important;
}

/*--------------------------------cover------------------------------*/

[data-theme="dark"] .titr-big {
  color: #ea5455;
}

[data-theme="dark"] .titr-normal {
  color: #fbfbfb;
}

[data-theme="dark"] .titr-small {
  color: #fbfbfb;
}

[data-theme="dark"] .glass {
  background: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: none;
}

[data-theme="dark"] .cover {
  width: 100%;
  height: auto;
  background: url(../images/programming-dark.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

/*--------------------------------protfolio------------------------------*/

[data-theme="dark"] .html-icon:hover {
  color: #e65100 !important;
}

[data-theme="dark"] .css-icon:hover {
  color: #0277bd !important;
}

[data-theme="dark"] .js-icon:hover {
  color: #ffd600 !important;
}

[data-theme="dark"] .boots-icon:hover {
  color: #673ab7 !important;
}

[data-theme="dark"] .git-icon:hover {
  color: #f4511e !important;
}

[data-theme="dark"] .react-icon:hover {
  color: #80deea !important;
}

[data-theme="dark"] .loading:after {
  content: " .";
  animation: dark-dots 1s steps(5, end) infinite;
}

/*--------------------------------card------------------------------*/

[data-theme="dark"] .slider-bg {
  background: rgb(229, 229, 229);
  background: radial-gradient(
    circle,
    rgba(229, 229, 229, 0) 0%,
    rgba(52, 73, 102, 1) 50%,
    rgba(45, 64, 89, 1) 100%
  );
}

[data-theme="dark"] .card {
  background-color: var(--sormei);
  border-radius: 0.5rem;
  transition: 0.3s;
}

[data-theme="dark"] .card:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 100%) !important;
}

[data-theme="dark"] .shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%) !important;
}

[data-theme="dark"] .slider-shadow {
  -moz-box-shadow: inset 0 0 5px #000;
  -webkit-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
}

[data-theme="dark"] .fa-chevron-left {
  color: #fbfbfb;
}

[data-theme="dark"] .fa-chevron-right {
  color: #fbfbfb;
}

[data-theme="dark"] .repository-btn:hover {
  box-shadow: 0px 5px 8px #000;
}

/*--------------------------------footer------------------------------*/

[data-theme="dark"] .text-muted {
  --bs-text-opacity: 1;
  color: #adbac5 !important;
}

[data-theme="dark"] .footer-links > a {
  text-decoration: none;
  color: #fbfbfbc0;
}

[data-theme="dark"] .footer-links > a:hover {
  color: #fff !important;
}

[data-theme="dark"] .scroll-to-top {
  color: rgba(45, 64, 89);
  background: rgba(251, 251, 251, 0.5);
}

[data-theme="dark"] .scroll-to-top:hover {
  color: #0a58ca;
}

/* ------------------------- media query (dark) ------------------------- */

[data-theme="dark"] .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

[data-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

[data-theme="dark"] .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #e5e5e5a6;
}

@media (max-width: 767.98px) {
  [data-theme="dark"] .cover {
    min-height: 70vh;
    padding: 20px 0;
    width: 100%;
    background: url(../images/programming-dark.svg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 50vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  [data-theme="dark"] .cover {
    min-height: 100vh;
    padding: 20px 0;
    width: 100%;
    background: url(../images/programming-dark.svg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 45vh;
  }
}

/*--------------------------- animation (dark)---------------------------*/

@keyframes dark-dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fbfbfb;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fbfbfb, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #fbfbfb, 0.5em 0 0 #fbfbfb;
  }
}
