*,
html,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "MontserratAlternates";
  color: var(--sormei);
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url(../fonts/MontserratAlternates-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url(../fonts/MontserratAlternates-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url(../fonts/MontserratAlternates-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "LaBelleAurore";
  src: url(../fonts/LaBelleAurore-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

:root {
  --sormei: #2d4059;
  --germez: #ea5455;
  --narenji: #f07b3f;
  --zard: #ffd460;
  --tusi: #fbfbfb;
}

/*--------------------------navbar--------------------*/

.nav-link {
  font-weight: 400;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 1) !important;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 30px;
  width: 60px;
  border: 2px solid rgba(190, 190, 190, 0.55);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.55);
  /* box-shadow: 0px 1px 3px #e4e7ec; */
  transition: background-color 250ms;
  cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
  border: 2px solid rgba(255, 255, 255, 0.55);
}

.toggle-button {
  transform: translate(33.25px, 3.25px);
  position: absolute;
  height: 19.5px;
  width: 19.5px;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 2.25px #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 2.25px rgba(255, 255, 255, 0.55);
  transform: translate(3.25px, 3.25px);
}

.sun-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 18px;
  width: 18px;
  opacity: 1;
  transform: translate(4px, 4px) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(9px, 6px) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: rgba(255, 255, 255, 0.55);
}

.moon-icon-wrapper {
  position: absolute;
  height: 18px;
  width: 18px;
  opacity: 0;
  transform: translate(33px, 6px) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(36px, 4px) rotate(-15deg);
}

/*--------------------------header--------------------------*/

.cover {
  width: 100%;
  height: auto;
  background: url(../images/cover2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.titr-normal {
  font-weight: 700;
  font-size: 50px;
  color: var(--sormei);
  transition: 0.4s;
}

.titr-big {
  font-weight: 700;
  font-size: 100px;
  color: var(--zard);
  transition: 0.4s;
}

.titr-small {
  font-weight: 500;
  font-size: 30px;
  color: var(--sormei);
  transition: 0.4s;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: none;
  box-sizing: border-box !important;
}

/*--------------------------------about-----------------------------*/

#about {
  height: 100vh;
}

.about-text {
  font-family: "LaBelleAurore";
  font-size: 26px;
}

.hamed-img {
  width: 230px;
  height: auto;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: var(--sormei);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 var(--sormei), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 var(--sormei), 0.5em 0 0 var(--sormei);
  }
}

/*---------------------------------projects------------------------------*/

.card {
  background-color: var(--tusi);
  border-radius: 0.5rem;
  transition: 0.3s;
  height: 43rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%) !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 70%) !important;
}

.card-title {
  font-family: "Roboto";
  font-weight: 500;
}

ul {
  padding-left: 1rem !important;
  font-family: "Roboto";
  font-weight: 300;
}

ul.b {
  list-style-type: square;
  font-size: 14px;
}

.repository-btn:hover {
  box-shadow: 0px 5px 8px var(--sormei);
}

/*****************************************footer*****************************************/

.footer-hr {
  height: 5px !important;
}

.footer-links > a {
  text-decoration: none;
  color: var(--sormei);
  transition: 0.3s;
  font-family: "Roboto";
}

.footer-links > a:hover {
  color: #000 !important;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: var(--tusi);
  background: rgba(45, 64, 89, 0.5);
  line-height: 45px;
  z-index: 1;
}

.copyi-right {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
}

/************************************************* media query********************************************/

@media (max-width: 767.98px) {
  .titr-normal {
    font-size: 18px;
  }

  .titr-big {
    font-size: 32px;
  }

  .titr-small {
    font-size: 15px;
  }

  .about-text {
    font-size: 18px;
  }

  .scroll-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    z-index: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .titr-normal {
    font-size: 20px;
  }

  .titr-big {
    font-size: 50px;
  }

  .titr-small {
    font-size: 16px;
  }

  .about-text {
    font-size: 22px;
  }
}

/**************************************************---------- card slider ---------------**********************************/

#contain {
  display: grid;
  place-items: center;
  height: auto;
}

#slider-container {
  height: auto;
  width: 95%;
  max-width: 1400px;

  position: relative;
  overflow: hidden;
  padding: 20px;
}

.bt {
  position: absolute;
  top: calc(50% - 30px);
}

.bt:hover {
  transform: scale(1.2);
}

.bt:first-of-type {
  z-index: 1;
  left: 5px;
  cursor: pointer;
}

 .bt:last-of-type {
  z-index: 1;
  right: 5px;
  cursor: pointer;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;

  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}
